<!DOCTYPE html>
<html>
  <head>
    <title>Tennis</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Istok+Web|Open+Sans&display=swap" rel="stylesheet">
  </head>

  <body>
    <header>

    <h1>NSW Tennis App</h1>

    <%= link_to 'Player Index', players_path %>
    |
    <%= link_to 'Register a Player', new_player_path %>
    |
    <%= link_to 'NSW Clubs', clubs_path %>
    |
    <%= link_to 'Register a Club', new_club_path  %>
    |
    <%= link_to "Tournaments Index", tournaments_path %>
    |
    <%= link_to 'Register a Tournament', new_tournament_path  %>

    </header>


    <%= yield %>

    <footer>

    &copy Tennis NSW, 2020

    </footer>

  </body>
</html>
